.products-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // align-items: center;
    // align-content: flex-end;
    // justify-content: center;

    &__left {

    }

    &__right {
        // justify-items: center;
        justify-self: center;
    }
}