<div class="container">
    <h2 class="title">Shopping Cart (**n0items** item)</h2>

    <div class="header-box">
        <h5 class="header-box__description">Item descriprion</h5>
        <h5 class="header-box__quantity">Quantity</h5>
        <h5 class="header-box__price">Unit price</h5>
        <h5 class="header-box__total">Sub total</h5>
    </div>

    <checkout-cart-item *ngFor="let item of cartItems" (remove)="removeItem(item)" (decrease)="itemQuantityDecrease(item)" (increase)="itemQuantityIncrease(item)" [item]="item"></checkout-cart-item>
    <!-- <div class="item-box">
        <div class="item-box__description">
            <div class="item-box__description--image">
                <img src="../../../../assets/images/Casual Flat Loafers 1.jpg" alt="">
            </div>
            <div class="item-box__description--info">
                <div class="item-box__description--info-unit">
                    <h4>**title of product**</h4>
                    <h5>Size - **choosing size**</h5>

                </div>
                <div class="item-box__description--info-button">
                    <button class="btn btn-favorite">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                          </svg>Move to favorites
                    </button>
                    <button class="btn btn-remove">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                          </svg>Remove
                    </button>
                </div>
            </div>
        </div>
        <div class="item-box__quantity">
            <div (click)="itemQuantityDecrease()" class="item-box__quantity--minus">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                  </svg>
            </div>
            <p class="item-box__quantity--amount">
                5
            </p>
            <div (click)="itemQuantityIncrease()" class="item-box__quantity--plus">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                  </svg>
            </div>
        </div>
        <div class="item-box__price">
            <p>₦**price**</p>
        </div>
        <div class="item-box__total">
            total
        </div>
    </div> -->


    <div class="item-box">
        <div class="item-box__description">
            <div class="item-box__description--image">
                <img src="../../../../assets/images/Mask Group.png" alt="">
            </div>
            <div class="item-box__description--info">
                <div class="item-box__description--info-unit">
                    <h4>**title of product**</h4>
                    <h5>Size - **choosing size**</h5>

                </div>
                <div class="item-box__description--info-button">
                    <button class="btn btn-favorite">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                          </svg>Move to favorites
                    </button>
                    <button class="btn btn-remove">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                          </svg>Remove
                    </button>
                </div>
            </div>
        </div>
        <div class="item-box__quantity">
            box__quantity
        </div>
        <div class="item-box__price">
            <p>₦**price**</p>
        </div>
        <div class="item-box__total">
            total
        </div>


    </div>

    <div class="overall-box">
        <div class="overall-box__info">
            <div class="overall-box__info-total">
                <h2>TOTAL:</h2>
                <h2>₦ {{ cartTotal }}</h2>
            </div>
            <div class="overall-box__info-delivery">
                <p>Delivery fee not included yet</p>
            </div>
        </div>
        <div class="overall-box__buttons">
            <button class="overall-box__buttons-continue">
                Continue shopping
            </button>
            <button class="overall-box__buttons-proceed">
                Proceed to checkout
            </button>
        </div>

    </div>
</div>
    

