<nav class="pagination">
    <ul class="pagination-box">
      <li class="pagination-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        ><a class="pagination-link" href="#">1</a></li>
      <li class="pagination-item"><a class="pagination-link" href="#">2</a></li>
      <li class="pagination-item"><a class="pagination-link" href="#">3</a></li>
      <li class="pagination-item"><a class="pagination-link" href="#">
          <svg class="icon icon-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46495 20.485L16.95 12L8.46495 3.515L7.04995 4.929L14.122 12L7.04995 19.071L8.46495 20.485Z" fill="#2E3A59"></path>
        </svg>
        </a></li>
    </ul>
  </nav>