.container {
    margin-bottom: 10px;

    &__title {

    }

    &__input {
        width: 300px;
        height: 20px;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid black;
        position: relative;
        display: flex;


        &--search {
            
        }

        &--text {
            border: none;
            flex-grow: 1;

            &:focus {
                outline: none;
                // border: none;
            }
        }

        &--arrow {
            // text-align: end;
        }
    }

    &__area {
        width: 300px;
        overflow: hidden;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 10px;

        &--value {
            cursor: pointer;
            padding: 3px 8px;
            display: flex;
            align-items: center;
            align-content: center;
            border: 1px solid black;
            border-radius: 20px;

            &:hover {
                background-color: gainsboro;
            }
        }
    }

    
    &__dropdown {
        position: absolute;
        overflow: auto;
        width: 300px;
        height: 160px;
        padding-left: 5px;
        border-radius: 0 0 0 10px;
        visibility: hidden;
        z-index: 1000;

        &--value {
            cursor: pointer;
            padding: 5px 10px;
            display: flex;
            gap: 10px;
            background-color: rgb(251, 251, 251);
            border-bottom: 1px solid rgba(65, 65, 65, 0.5);
            border-right: 1px solid rgba(65, 65, 65, 0.5);
            border-left: 1px solid rgba(65, 65, 65, 0.5);
            

            &:hover {
                background-color: gainsboro;
            }
        }
    }

    &__dropdown::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    &__dropdown::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 0 0 5px 0;
        background-color: #F5F5F5;
    }

    &__dropdown::-webkit-scrollbar-thumb {
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #ed165ed9;
    }


}

.active {
    visibility: visible;
}

.highlight {
    background-color: #D8D8D8 !important;
    color: rgba(0,0,0, 0.3);;
}