<h1>Sign in</h1>
<div class="form-container">
    <!-- [formGroup]="newCardForm"  -->
     <form [formGroup]="loginForm" (ngSubmit)="submit()" autocomplete="off"> 
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password" class="form-control" required>
        </div>

        <div class="form-check">
            <label for="rememberMyDetails" class="main">
                Remember my details
                <input type="checkbox" formControlName="rememberMyDetails" id="rememberMyDetails" class="checked" />
                <span class="pinkmark"><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.8388 6.69459L8.81799 18.7154L3.16113 13.0586L4.57113 11.6486L8.81799 15.8854L19.4288 5.28459L20.8388 6.69459Z" fill="#2E3A59"></path>
                    </svg>
                    </span>
            </label>
            <!-- <input type="checkbox" formControlName="rememberMyDetails" id="rememberMyDetails" class="form-check-input" />
            <label for="rememberMyDetails">Remember my details</label> -->
        </div>
        <div class="signin-box">
            <span *ngIf="authFailed" class="signin-box__failed">*Invalid email or password</span>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
           Sign in
        </button>
        </div>
        
        
        
        <!-- <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button> -->
    </form>
    <div class="form-container__links">
        <a href="" class="form-container__links-link">Forgot password?</a>
        <a routerLink="/auth/registration" class="form-container__links-link">Don't have an account?<br>Create a new one</a>
    </div>
</div>


