<div class="card-box">
    <table cellspacing="0">
        <thead>
            <tr class="heading">
              <th *ngFor="let title of titles" scope="col">{{ title }}</th>
              <th>
                <button class="th-btn" (click)="newCardForm()">New</button>
              </th>

            </tr>
          </thead>
        <tbody>
            <tr class="tr-body" *ngFor="let card of cards$ | async ; let row; let i = index" (click)="selectRow(card._id!)" [class.active]="card._id == highlightRow">
                <td class="td-id">{{ i+1 }}</td>
                <td>{{card.title}}</td>
                <td>{{card.price}}</td>
                <td>{{card.type | dictionary: types }}</td>
                <td>{{card.category | dictionary: categories }}</td>

                <td class="td-imageUrl">{{!!card.imageUrl}}</td>
                <td>
                    <button (click)="deleteCard(row, $event)" class="td-btn">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>


<!--  <div class="" *ngFor="let product of allProducts$ | async">{{product.title}} - {{product.price}}</div>-->
</div>
