.table {
    border: none;
    width: 100%;
}

.heading {
    
    & > * {
        padding-bottom: 5px;
    }

    :not(:last-child) {
        text-align: left;
    }
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    width: 70px;

    &-new {
        background-color: #5db15d8e;
        border-color: #006400;
        color: rgb(47, 47, 47);
        
        padding: 3px 6px;       //////// to review
    }

    &-delete {
        background-color: gainsboro;
        border-color: gainsboro;
        padding: 2px 2px;
    }
} 

.row {
    cursor: pointer;
    
    &:hover {
        background-color: #e5e4e2;
        border: none;
    }

    & > * {
        border-top: 1px solid #dee2e6;
        vertical-align: middle;
        padding: 5px 0;
    }

    :last-child {
        text-align: center;
    }

    &__id {
        font-weight: bold;
    }
}

.active {
    background-color: gray !important;
    border: none;
}