<div class="greetings-box">
    <div class="greetings-box__description">
        <h1>Hello there!</h1>
        <h4>Please sign in or create account to continue</h4>
    </div>
    <!-- <div class="greetings-box__buttons">
        <button routerLink="/auth/login" class="greetings-box__buttons--login">Sign in</button>
        <button routerLink="/auth/registration" class="greetings-box__buttons--registration">Create account</button>
    </div> -->
    <div class="greetings-box__outlet">
        <router-outlet></router-outlet>
    </div>
    

</div>

