<table cellspacing="0" class="table">
    <thead>
        <tr class="heading">
            <th *ngFor="let title of titles" scope="col">{{ title }}</th>
            <th>
                <button class="btn btn-new" (click)="newSizeForm()">New</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" *ngFor="let item of sizes$ | async; let row; let i = index" (click)="selectRow(item._id!)" [class.active]="item._id == highlightRow">
            <td class="row__id">{{ i + 1 }}</td>
            <td>{{item.title}}</td>
            <td>{{item.value}}</td>
            <td>
                <button (click)="deleteSize(item._id!, $event)" class="btn btn-delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
